/*for PrismJS 1.19.0 8*/
code[class*="language-"],
pre[class*="language-"] {
  line-height: 23px;
  font-size: 15px;
  color: #e94a5f;
  background: none;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
/* Code blocks */
pre[class*="language-"] {
  background: #1e2128;
  margin-bottom: 15px;
}
code[class*="language-"] .token.comment,
code[class*="language-"] .token.prolog,
code[class*="language-"] .token.doctype,
code[class*="language-"] .token.cdata {
  color: #708090;
}
code[class*="language-"] .token.punctuation {
  color: #9aa2b3;
}
code[class*="language-"] .token.namespace {
  opacity: 0.7;
}
code[class*="language-"] .token.property,
code[class*="language-"] .token.tag,
code[class*="language-"] .token.constant,
code[class*="language-"] .token.symbol,
code[class*="language-"] .token.deleted {
  color: #e94a5f;
}
code[class*="language-"] .token.boolean,
code[class*="language-"] .token.number {
  color: #d0864a;
}
code[class*="language-"] .token.attr-name {
  color: #d0864a;
}
code[class*="language-"] .token.attr-value {
  color: #7bbc5d;
}
code[class*="language-"] .token.attr-value .token.punctuation {
  color: #7bbc5d;
}
code[class*="language-"] .token.string,
code[class*="language-"] .token.char,
code[class*="language-"] .token.builtin,
code[class*="language-"] .token.inserted {
  color: #7bbc5d;
}
code[class*="language-"] .token.operator,
code[class*="language-"] .token.entity,
code[class*="language-"] .token.url,
code[class*="language-"] .language-css .token.string,
code[class*="language-"] .style .token.string,
code[class*="language-"] .token.variable {
  color: #23aab8;
}
code[class*="language-"] .token.keyword {
  color: #c754dc;
}
code[class*="language-"] .token.keyword.keyword-this {
  color: #e5b353;
}
code[class*="language-"] .token.atrule,
code[class*="language-"] .token.function,
code[class*="language-"] .token.class-name {
  color: #3a9ff2;
}
code[class*="language-"] .token.regex,
code[class*="language-"] .token.important {
  color: #fd971f;
}
code[class*="language-"] .token.important,
code[class*="language-"] .token.bold {
  font-weight: bold;
}
code[class*="language-"] .token.italic {
  font-style: italic;
}
code[class*="language-"] .token.entity {
  cursor: help;
}
code[class*="language-css"],
pre[class*="language-css"] {
  color: #d0864a;
}
code[class*="language-css"] .token.selector,
pre[class*="language-css"] .token.selector {
  color: #e94a5f;
}
code[class*="language-css"] .token.selector .token.class,
pre[class*="language-css"] .token.selector .token.class {
  color: #d0864a;
}
code[class*="language-css"] .token.selector .token.id,
pre[class*="language-css"] .token.selector .token.id {
  color: #3a9ff2;
}
code[class*="language-css"] .token.selector .token.pseudo-class,
pre[class*="language-css"] .token.selector .token.pseudo-class {
  color: #23aab8;
}
code[class*="language-css"] .token.selector .token.attribute,
pre[class*="language-css"] .token.selector .token.attribute {
  color: #c754dc;
}
code[class*="language-css"] .token.property,
pre[class*="language-css"] .token.property {
  color: #9aa2b3;
}
code[class*="language-css"] .token.number,
pre[class*="language-css"] .token.number {
  color: #e94a5f;
}
.token.atrule,
.token.function,
.token.class-name {
  color: #3a9ff2;
}
.line-numbers .line-numbers-rows {
  border-right-color: #282b33;
  left: -4em;
  line-height: 23px;
}
.line-numbers-rows > span:before {
  color: #474c5d;
}
