// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-title = #1f2935
color-archive-title = #2f3740
color-link-title = #3f464e

color-tips = #9ea5ad
color-tips-hover = #555f69

color-rose = #dc3b59
color-lake = #68a8de

color-line = #eff0f1
color-dot = #d2d8de
color-dot-dark = #ccd2d8

color-icon-dark = #565f67
color-link = #2c86d2;
color-link-dark = #7d848c

quote-border-color = #589bd4
quote-bg = #eff2f5

post-color = #444c54