/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

// Colors
color-js-keyword = #c754dc;
color-string = #8ecb56
color-operator = #38cfdd
color-punctuation = #b8bdc8
color-link = #258fb8
color-function = #3b9beb
color-js-default = #d35666
color-js-number = #cd8042;

code[class*="language-"],
pre[class*="language-"] {
	color: color-js-default;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}


/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1e2127;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: color-punctuation;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #d35666;
}

.token.boolean,
.token.number {
	color: #cd8042;
}
.token.attr-name{
	color:color-js-number;
}
.token.attr-value{
	color:color-string;
	.token.punctuation{
		color:color-string;
	}
}


.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: color-string;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: color-operator;
}

// For CSS
code[class*="language-css"],
pre[class*="language-css"] {
	color:color-js-number;

	.token.selector{
		color: color-js-default;

		.token.class { color: color-js-number; }
		.token.id { color: color-function; }
		.token.pseudo-class { color: color-operator; }
		.token.attribute { color: color-js-keyword; }
	}
	.token.property { color: color-punctuation; }
	.token.number { color: color-js-default; }
}

.token.atrule,
.token.function,
.token.class-name {
	color: color-function;
}

.token.keyword {
	color: color-js-keyword;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
