<div class="site-column site-column-index">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/archive', {pagination: 2, index: true}) %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
