.site-column-post{
  margin:0 auto;

  .site-content-post{
    margin-top: 40px;

    .post-name{
      margin-bottom: 5px;

      h2{
        font-size: 26px;
        font-weight: 400;
        color: color-title;
      }
    }

    .post-info{
      display: flex;
      flex-wrap: wrap;
      border: none;
      padding-bottom: 5px;

      span{
        margin-right: 10px;
        font-size: 14px;
        color: color-link-dark;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .iconfont {
          color: color-icon-dark ;
        }

        a{
          color: color-link-dark;
          &:hover{
            text-decoration: underline;
            color: color-link-title;
          }
        }

        &.back-to-home{
          flex-grow:1;
          text-align: right;
          margin-right: 0;
          a{
            font-weight: bold;
            color: color-title;
            span{margin-right: 0;}
            &:hover{
              text-decoration: none;
              i{color: color-link;}
              span{color: color-link;}
            }
          }

          @media (max-width: 639px){
            text-align: left;
          }
        }
      }
    }

    .post-body{
      color: #3c444c;
      font-size: 15px;
      line-height: 30px;
      margin-top: 30px;

      p{
        margin: 0 0 15px 0;
        a{
          color: color-link;
          font-weight: bold;
          &:hover{ text-decoration: underline; }
        }
      }

      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 5px;
      }
      h4 { font-size: 18px; }
      h5 { font-size: 16px; }
      h6 { font-size: 16px; }

      ol{
        list-style: decimal;
        list-style-position: inside;
        ol,ul{ list-style: none; }
      }

      ul {
        list-style: disc;
        list-style-position: inside;
        ul,ol{list-style: none;}
        li {
          // position: relative;
          padding-left: 19px;

          // &::before{
          //   background: color-link;
          //   content: '';
          //   height: 4px;
          //   width: 4px;
          //   position: absolute;
          //   left: 0;
          //   top: 50%;
          //   transform: translateY(-2px);
          // }

          a {
            color: color-link;
            font-weight: bold;
            &:hover{
              text-decoration: underline;
              color: #2272b5;
            }
          }
        }
      }
      ol{ li { a { font-weight: bold; } } }
      & > ul,& > ol {
        margin: 0 0 15px 0;
        & > li{
          padding-left: 0;
        }
      }

      code {
        font-size: 15px;
        &.inline {
            padding: 1px 3px;
            background: #f4f4f4;
            color: #e2687f;
            border-radius: 5px;
            border: $border-style;
            font-weight: bold;
            margin: 0 4px;
            border: 1px solid #ebe3e3;
        }
      }

      table {
        td {
          border: 1px solid #dce1e6;
          padding: 5px 10px;
          a{
            color: color-link;
            font-weight: bold;
            &:hover{ text-decoration: underline; }
          }
        }
        th {
          border: 1px solid #dce1e6;
          background: #eaebed;
          padding: 5px 0;
        }
        margin:0 0 15px 0;
        width: 100%;
      }

      blockquote {
        border-left: quote-border-color  5px solid;
        padding: 10px;
        background: quote-bg;
        margin-bottom: 15px;

        p {
          margin: 0;
          color: #56697b;
          line-height: 26px;
        }
      }

      img{
        width: 100%;
        text-align: center;
      }
  
    }

    .post-navigation{
      display: flex;
      justify-content: space-between;
      font-size: 1em;
      margin: 25px 0;
      padding-top: 10px;
      border-top: color-line 1px solid;

      .iconfont{
        font-size: 24px;
        position: relative;
        top: 3px;
        color: color-tips;
      }

      .post-next,.post-previous{
        position: relative;

        a{
          font-size: 16px;
          color: #9ea5ad;
          &:hover{
            color: color-tips-hover ;
            .iconfont{ color: color-tips-hover }
          }
          span{
            @media(max-width:639px){
              display: none;
            }
          }
        }
      }
    }
  }
}

.post-catalog{
  position: fixed;
  left:50vw;
  top:136px;
  display: none;
  max-width:220px;

  ul{
    border-left: color-line 2px solid;
    padding: 5px 0 0 15px;

    li{
      padding: 4px 0;
      position:relative;
      // overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 16px;

      &::before {
        content: '';
        background: color-dot;
        width: 4px;
        height: 12px;
        position: absolute;
        left:-18px;
        top: 50%;
        transform: translateY(-50%);
      }

      a{
        font-size: 14px;
        color: #49525a;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:180px;
        box-sizing: border-box;
        &:hover{
          color: #528fc1;
        }
      }

      &.h3-link{
        padding-left: 16px;
        &::before{ height: 4px; }
        a {
          color: #556069;
          max-width:165px;
          &:hover{ color: #528fc1;}
        }
      }
      &.h4-link{
        padding-left: 37px;
        &::before{
          height: 4px;
        }
        a {
          color:#7e848a;
          max-width:150px;
          &:hover{ color: #528fc1;}
        }
      }
      &.h5-link{
        padding-left: 50px;
        &::before{
          height: 4px;
        }
        a {
          color:#7e848a;
          max-width:135px;
          &:hover{ color: #528fc1;}
        }
      }
      &.h6-link{
        padding-left: 50px;
        &::before{
          height: 4px;
        }
        a {
          color:#7e848a;
          max-width:120px;
          &:hover{ color: #528fc1;}
        }
      }
    }
  }
}
