.site-column-post{
  margin:0 auto;

  .site-content-post{
    margin-top: 40px;

    .post-name{
      margin-bottom: 10px;

      h2{
        font-size: 26px;
        font-weight: 400;
        color: #252a2f;
      }
    }

    .post-info{
      border: none;
      padding-bottom: 5px;
      color: #909599;

      span{
        margin-right: 5px;
      }
    }

    .post-body{
      color: #464d54;
      font-size: 15px;
      line-height: 30px;

      p{
        margin: 1.2em 0;
      }
    }

    .post-navigation{
      display: flex;
      justify-content: space-between;
      font-size: 1em;
      padding: 1em 0 1.2em 0;

      .iconfont{
        font-size: 20px;
        position: relative;
        top: 1px;
        color: #7e8489;
      }

      .post-next,.post-previous{
        position: relative;

        a{
            color: #5c636a;
        }
      }
    }
  }
}
