.site-footer{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1.6em 0 1.2em 1.7em;
  border-left: #eff0f1 2px solid;

  &::before{
    content: '';
    height: 20px;
    width: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-75%) translateY(-35%);
    background: #c2c8ce; 
  }

  p{
    color: #9ea5ad;
    font-size: 12px;

    a{
      color: #6d7277;

      &:hover{
          color: #4e5761;

          .icon-hexo{
            color: #0e83cd;
          }
          .icon-github{
            color: #a11ab9;
          }
          .icon-travisci{
            color: #d68d1e;
          }
      }

      .iconfont {
        position: relative;
        top: 1px;
        font-size: 15px;
      }
    }
  }
}