@media (min-width: 640px) {
  .site-column-index{
    width: 600px;
  }
  .site-column-post{
    width: 90%;
  }
}

@media (min-width: 780px) {
  .site-column-post{
    width: 760px;
  }
}

@media (min-width: 1200px) {
  .site-column-post{
    width: 760px;
  }

  .post-catalog{
    transform: translateX(400px);
    &.show{ display:block; }
  }
}

@media (max-width: 639px) {
  .menus-container{
    display: none;
  }
  .site-column-index{
    width: 90%;
  }
  .site-column-post{
    width: 90%;
  }
  a.post-title{
    font-size: 14px;
  }
  .site-column-post{
    width: 90%;
  }
  .post-list-item{
    padding-left: .5em;
    padding-right: .5em;
  }
}
@media (max-width: 490px) {
  .site-footer{
    flex-direction: column;
    p{
      margin-bottom: 5px;;
    }
  }
}