<footer class="site-footer">
  <p>Built with <a href="http://hexo.io/" class="wp-copy">Hexo <i class="iconfont icon-hexo"></i></a></p>
  <p>Server by <a href="https://pages.github.com/" class="wp-copy">Github <i class="iconfont icon-github"></i></a> & deployed by <a href="https://travis-ci.com/">Travis CI <i class="iconfont icon-travisci"></i></a></p>
</footer>